# Prova pr√°tica SQLITE

## Criar

In [25]:
import sqlite3

estudantes = 'escola.db'

script_alunos = """CREATE TABLE IF NOT EXISTS alunos (
                id INTEGER PRIMARY KEY AUTOINCREMENT,
                nome TEXT NOT NULL,
                idade INTEGER NOT NULL,
                email TEXT NOT NULL
            );"""
try:
    with sqlite3.connect(estudantes) as conn:
        
        cur = conn.cursor()

        cur.execute(script_alunos)

        conn.commit()

        print("Tabelas Criadas com Sucesso")
except sqlite3.OperationalError as e:
    print("ERRO: ", e)

Tabelas Criadas com Sucesso

## Inserir dados

In [26]:
sql = "INSERT INTO Alunos (nome, idade, email) VALUES (?,?,?)"

try:
    with sqlite3.connect(estudantes) as conn:
            
        cur = conn.cursor()

        cur.execute(sql, ('Guilherme', 16, 'faveron@gmail.com'))

        conn.commit()
        


except sqlite3.OperationalError as e:
    print("ERRO: ", e)

## Consultar

In [27]:
sql = "SELECT * FROM Alunos"

try:
    with sqlite3.connect(estudantes) as conn:
        
        cur = conn.cursor()
        
        cur.execute(sql)
        res = cur.fetchall() 

        print(res)
except sqlite3.OperationalError as e:
    print("ERRO: ", e)

[(1, 'Guilherme', 16, 'faveron@gmail.com')]

## Atualizar

In [28]:
sql = "UPDATE Alunos SET nome = ? WHERE id = ?"

try:
    with sqlite3.connect(estudantes) as conn:
            
        cur = conn.cursor()

        cur.execute(sql, (25, 2))

        conn.commit()


except sqlite3.OperationalError as e:
    print("ERRO: ", e)

## Deletando um registro

In [29]:
sql = "DELETE FROM Alunos WHERE id = ?"

try:
    with sqlite3.connect(estudantes) as conn:
            
        cur = conn.cursor()

        cur.execute(sql, (2,))

        conn.commit()
        


except sqlite3.OperationalError as e:
    print("ERRO: ", e)